<header>
  <div class="container-header flex justify-between items-center pr-4">
    <div class="search-header flex items-center gap-2">
      <img
        src="../../../assets/icons8-search.svg"
        alt="search"
        class="h-[24px] w-[24px] cursor-pointer"
      />
      <input
        class="search-input outline-none"
        type="text"
        placeholder="Search..."
      />
    </div>
    <div class="user">
      <div class="image">Avatar</div>
      <div class="infor-user">
        <p class="name">John Doe</p>
        <p class="role">Admin</p>
      </div>
    </div>
  </div>
</header>
