<div class="dashboard-container">
  <div class="title">
    <h1 class="pl-5 pt-2 font-semibold">Home - Dashboard</h1>
  </div>
  <mat-card class="card-receita">
    <mat-card-title-group>
      <mat-card-title>Receita total</mat-card-title>
      <mat-card-subtitle>R$ {{ receitas }}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card>
  <mat-card class="card-receita">
    <mat-card-title-group>
      <mat-card-title>Despesa total</mat-card-title>
      <mat-card-subtitle class="!text-red-500"
        >R$ {{ despesas }}</mat-card-subtitle
      >
    </mat-card-title-group>
  </mat-card>
</div>
