<div class="side-container">
  <div class="side-bar">
    <div class="logo flex items-center gap-2 pl-5 pt-5 pb-5">
      <img src="../../../assets/icons8-banknotes-48.png" alt="money" />
      <h1 class="font-bold text-2xl">App Gestor</h1>
    </div>
    <div class="border"></div>
    <div class="links pl-5 pt-5">
      <ul>
        <li class="mb-3 link" *ngFor="let link of links">
          <a class="font-bold" [routerLink]="link.route">{{ link.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
